




[data-theme="light"] {

    --main-content-background-color: #ffffff;
    --main-content-text-color: #231f20;
}

[data-theme="dark"] {

    --main-content-background-color: #231f20;
    --main-content-text-color: #ffffff;
}